#include <windows.h>
#include <resource.h>
#include "resource.h"

IDR_MYMENU MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "E&xit" , ID_FILE_EXIT
    END
END

IDI_MYICON ICON "Main.ico"

IDD_ABOUT DIALOG DISCARDABLE 0 , 0 , 239 , 66
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "about qyh_adb"
FONT 8 , "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "&OK" , IDOK , 174 , 18 , 50 , 14
    PUSHBUTTON      "&Cancel" , IDCANCEL , 174 , 35 , 50 , 14
    GROUPBOX        "About this program..." , IDC_STATIC , 7 , 7 , 225 , 52
    CTEXT           "\r\n呵呵\r\n\r\nINTERESTING" , IDC_STATIC , 16 , 18 , 144 ,33
END

IDD_TOOLBAR DIALOGEX 0, 0, 106, 262
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "qyh_adb Toolbar"
FONT 8, "Microsoft Yahei", 0, 0, 0x1
BEGIN
    GROUPBOX        "根据编译日志来...",IDC_STATIC,4,7,98,60
    CONTROL         "push前备份手机库文件",IDC_CHECK_BK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,13,20,79,10
    CONTROL         "push库文件",IDC_CHECK_PL,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,13,30,79,10
    CONTROL         "复制库文件",IDC_CHECK_DL,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,13,40,79,10
    CONTROL         "复制symbol库文件",IDC_CHECK_DS,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,13,50,79,10
    GROUPBOX        "导出手机中的...",IDC_STATIC,4,77,98,60
    CONTROL         "jpeg照片",IDC_CHECK_DJ,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,13,90,79,10
    CONTROL         "最新的一张jpeg",IDC_CHECK_DP,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,13,100,79,10
    CONTROL         "Raw && YUV",IDC_CHECK_DR,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,13,110,79,10
    CONTROL         "导出并删除",IDC_CHECK_DD,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,13,120,79,10
    GROUPBOX        "设置目录 && 日志",IDC_STATIC,4,147,98,65
    PUSHBUTTON      "项目根目录",IDC_SELECT_PROJECT,13,161,79,14
    PUSHBUTTON      "编译日志",IDC_SELECT_LOG,13,175,79,14
    PUSHBUTTON      "导出目录",IDC_SELECT_DUMP_DIR,13,191,79,14
    PUSHBUTTON      "生成命令",IDC_GENERATE_CMD,13,220,50,14
    PUSHBUTTON      "执行命令",IDC_EXECUTE_CMD,13,235,50,14
END

IDA_MAIN    accelerators
BEGIN
    "W" , ID_FILE_EXIT , VIRTKEY , CONTROL
END